[Desktop Entry]
Name=Penpot Desktop
Comment=Design Freedom for Teams
Exec=sh ~/.local/share/korbs-studio/penpot-desktop/app/launch.sh
Icon=com.korbsstudio.penpot-desktop
Type=Application
StartupNotify=false
Categories=Graphics;
Keywords=penpot;
Terminal=false
X-GNOME-UsesNotifications=false
