<div id="available" class="update">
    <div class="modal-header">
        <h1>Update Available</h1>
    </div>
    <div class="modal-content">
        <p>A new update of Penpot Desktop is ready to be installed. You can choose to update now or later. To see what's new, open the "What's New" menu.</p>
    </div>
    <div class="modal-footer">
        <div class="actions">
            <button onclick="hideUpdateAvailable()" id="secondary-action">Dismiss</button>
            <button onclick="window.api.send('updateApp')">Install Update</button>
        </div>
    </div>
</div>