html.windows [data-for-os=mac], html.windows [data-for-os=linux] {display: none;}
html.mac [data-for-os=windows], html.mac [data-for-os=linux] {display: none;}
html.linux [data-for-os=mac], html.linux [data-for-os=windows] {display: none;}

body {
    font-family: 'Source Sans Pro';
}

/* Global */
*:focus {outline: none}

/* Splash */
.splash {
    align-items: center;
    text-align: center;
    background: #1f1f1f;
    transition: 1s opacity;
    opacity: 1;
}
.splash svg {
    width: 270px;
    position: fixed;
    top: 50%;
    left: 50%;
    fill: white;
    transform: translate(-50%, -50%);
    animation: 1s svgZoom ease;
}

@keyframes svgZoom {
    from {transform: translate(-50%, -50%) scale(0.7);}
    to {transform: translate(-50%, -50%) scale(1);}
}

/* Titlebar Elements */
.update#available {
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 50;
    color: black;
    background: #31efb8;
    padding: 10px 20px;
    transition: 2.3s opacity;
    opacity: 0;
}

.update#available p {margin: 0px}