body {
    overflow: hidden;
    color: white;
    background: #1f1f1f;
    transition: 1s background;
}

* {outline: none}
::selection {color: inherit;background: inherit}

// Root
$ActionBackgroundDark: #fff;
$ActionBackgroundDark: #303236;

:root {
    --navBarWF: 100px;
    --navBarWS: 280px;
    --ActiveColor: #00ff89;
    --ActiveColor50: rgba(193, 255, 226, 0.5);
    --ActiveColor25: rgba(193, 255, 226, 0.25);
}

// Animations
@keyframes RevealSlideDown {
    from {
        opacity: 0;
        transform: translate(0px, -24px);
    }
    from {
        opacity: 1;
        transform: translate(0px, 0px);
    }
}

// Global Classes
.full-window {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

tab-group {
    opacity: 0;
    transition: 2s opacity;
}

// Titlebar
/// Actions
.linux-setting {
    display: none;
}
.actions {
    position: fixed;
    right: 0px;
    z-index: 10;
    top: 0px;
    padding: 6px 6px 0px 0px;
    cursor: default;
    -webkit-app-region: no-drag;
    .action-buttons {
		display: flex;
		align-items: center;
    }
    button {
        background: transparent;
        color: white;
        border: none;
        padding: 9px;
        border-radius: 4px;
        width: 32px;
        -webkit-app-region: no-drag;
        background: #1f1f1f;
    }
    #instance {
        position: fixed;
        top: 0px;
        height: 41px;
        width: 270px;
        right: 0px;
        -webkit-app-region: no-drag;
    }
}

.titlebar-dropdown-menu {
    display: none;
    .fa-caret-up {
        position: fixed;
        top: 35px;
        right: 45px;
        z-index: 10;
        color: #1f1f1f;
        font-size: 24px;
    }
    .tdm-content {
        position: fixed;
        z-index: 10;
        right: 12px;
        top: 50px;
        background: #303236;
        border-radius: 6px;
        border: 1px #1f1f1f solid;
        padding: 0px 12px 12px 12px;
        h2 {
            font-size: 16px;
            font-weight: normal;
            background: #1f1f1f;
            margin: 0px -12px;
            padding: 12px;
        }
        p {cursor: default}
        a {color: white}
        button {
            background: transparent;
            color: white;
            border: none;
            padding: 9px;
            border-radius: 4px;
            width: 32px;
            -webkit-app-region: no-drag;
            background: #1f1f1f;
        }
        input {
            box-sizing: border-box;
            font-family: "worksans", sans-serif;
            background-color: #3f4247;
            border-radius: 2px;
            border: 1px solid #b1b2b5;
            color: white;
            font-size: 0.875rem;
            height: 32px;
            margin: 12px 0px;
            padding: 14px 14px 0 14px;
            padding-top: 0;
            padding-right: 50px;
        }
        input#InstanceSaveButton {
            background: white;
            color: black;
            padding: 0px 12px;
        }
        .tdm-warnings {
            background: #ff7482;
            border: 1px white solid;
            padding: 12px;
            width: 270px;
            margin: 20px -9px -82px -11px;
            font-size: 14px;
            color: black;
            border-radius: 4px;
            a {color: black}
            p {margin: 0px}
        }
    }
}

.image-buttons-ts {
    display: block;
    margin: 12px 0px;
}
.image-buttons-ts button {
    width: inherit !important;
    border: 1px #383838 solid !important;
    padding: 0px !important;
    background: #2a2a2a !important;
    cursor: pointer;
}

button#restart-required {
    width: max-content;
    background: #00ff89;
    color: black;
    margin-right: 4px;
}

.linux-custom-titlebar-buttons {
    position: fixed;
    right: 4px;
    top: 4px;
    z-index: 10;
    button {
        background-color: transparent;
        border: none;
        border-radius: 50px;
        margin-left: -5px;
        img {
            width: 24px;
            height: 32px;
        }
    }
}

div#plasma {
    position: fixed;
    top: 8px;
    right: 12px;
    width: max-content;
    button[onclick="window.close()"] {
        background: white;
        color: black;
    }
    button#plasma-window-is-max svg {font-size: 10px}
    button#plasma-window-is-max {display: none}
    button#plasma-window-is-unmax {display: inherit}
    button {
        background: transparent;
        color: white;
        border: none;
        border-radius: 50px;
        aspect-ratio: 1;
        height: 18px;
        width: 18px;
        font-size: 12px;
        padding: 0px;
        margin-left: 2px;
        transition: 0.2s background, 0.2s color;
    }
    button:hover {
        background: white;
        color: black;
        transition: 0.2s background, 0.2s color;
    }
}

// Splash
splash {
    background: transparent;
    position: fixed;
    z-index: 9;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    opacity: 1;
    transition: 0.4s opacity;
    img {
        width: 64px;
        margin-right: 12px;
    }
    .loading-indicator {
        position: fixed;
        bottom: 25%;
        font-size: 24px;
    }
}

// No Tabs Exist
.no-tabs-exist {
    display: none;
    position: fixed;
    top: 40px;
    left: 0px;
    width: 100%;
    height: 100%;
    align-items: center;
    text-align: center;
    .nte-content {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        p {
            opacity: 0.5;
        }
        button {
            background: var(--ActiveColor);
            color: black;
            border: none;
            padding: 8px 16px;
            border-radius: 50px;
            cursor: pointer;
        }
    }
}