@import url("https://fonts.bunny.net/css?family=source-sans-pro:300,400,600");
body {
  overflow: hidden;
  font-family: "Source Sans Pro", sans-serif;
  color: white;
  background: #1f1f1f;
}

* {
  outline: none;
}

:root {
  --navBarWF: 100px;
  --navBarWS: 280px;
  --ActiveColor: #00ff89;
  --ActiveColor50: rgba(193, 255, 226, 0.5);
}

@keyframes RevealSlideDown {
  from {
    opacity: 0;
    transform: translate(0px, -24px);
  }
  from {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}
.full-window {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.actions {
  position: fixed;
  right: 0px;
  z-index: 12;
  top: 0px;
  padding: 6px 6px 0px 0px;
  cursor: default;
  -webkit-app-region: no-drag;
}
.actions .action-buttons {
  display: flex;
  align-items: center;
}
.actions button {
  background: transparent;
  color: white;
  border: none;
  padding: 9px;
  border-radius: 4px;
  width: 32px;
  -webkit-app-region: no-drag;
  background: #1f1f1f;
}
.actions #instance {
  position: fixed;
  top: 0px;
  height: 41px;
  width: 270px;
  right: 0px;
  -webkit-app-region: no-drag;
}

.titlebar-dropdown-menu {
  display: none;
}
.titlebar-dropdown-menu .fa-caret-up {
  position: fixed;
  top: 35px;
  right: 45px;
  z-index: 10;
  color: #1f1f1f;
  font-size: 24px;
}
.titlebar-dropdown-menu .tdm-content {
  position: fixed;
  z-index: 10;
  right: 12px;
  top: 50px;
  background: #303236;
  border-radius: 6px;
  border: 1px #1f1f1f solid;
  padding: 0px 12px 12px 12px;
}
.titlebar-dropdown-menu .tdm-content p {
  cursor: default;
}
.titlebar-dropdown-menu .tdm-content a {
  color: white;
}
.titlebar-dropdown-menu .tdm-content button {
  background: transparent;
  color: white;
  border: none;
  padding: 9px;
  border-radius: 4px;
  width: 32px;
  -webkit-app-region: no-drag;
  background: #1f1f1f;
}
.titlebar-dropdown-menu .tdm-content input {
  box-sizing: border-box;
  font-family: "worksans", sans-serif;
  background-color: #3f4247;
  border-radius: 2px;
  border: 1px solid #b1b2b5;
  color: white;
  font-size: 0.875rem;
  height: 32px;
  margin: 0;
  padding: 14px 14px 0 14px;
  padding-top: 0;
  padding-right: 50px;
}
.titlebar-dropdown-menu .tdm-content input#InstanceSaveButton {
  background: white;
  color: black;
  padding: 0px 12px;
}

button#restart-required {
  width: max-content;
  background: #00ff89;
  color: black;
  margin-right: 4px;
}

.linux-titlebar-buttons {
  position: fixed;
  right: 12px;
  top: 0px;
  z-index: 50;
}

#gtk button {
  -webkit-app-region: no-drag;
  height: 40px;
  width: 40px;
  border: none;
  font-size: 24px;
  background: transparent;
  color: #444444;
  border-right: 1px #1f1f1f solid;
  margin-right: -12px;
}

#gtk button:hover {
  filter: brightness(1.4);
}

svg.svg-inline--fa.fa-circle-xmark path.fa-primary {
  color: white;
}

div#plasma {
  position: fixed;
  top: 8px;
  right: 12px;
  width: max-content;
}
div#plasma button[onclick="window.close()"] {
  background: white;
  color: black;
}
div#plasma button#plasma-window-is-max svg {
  font-size: 10px;
}
div#plasma button#plasma-window-is-max {
  display: none;
}
div#plasma button#plasma-window-is-unmax {
  display: inherit;
}
div#plasma button {
  background: transparent;
  color: white;
  border: none;
  border-radius: 50px;
  aspect-ratio: 1;
  height: 18px;
  width: 18px;
  font-size: 12px;
  padding: 0px;
  margin-left: 2px;
  transition: 0.2s background, 0.2s color;
}
div#plasma button:hover {
  background: white;
  color: black;
  transition: 0.2s background, 0.2s color;
}

splash {
  background: #121212;
  position: fixed;
  z-index: 50;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}
splash img {
  width: 24px;
  margin-right: 12px;
}

.no-tabs-exist {
  display: none;
  position: fixed;
  top: 40px;
  left: 0px;
  width: 100%;
  height: 100%;
  align-items: center;
  text-align: center;
}
.no-tabs-exist .nte-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.no-tabs-exist .nte-content p {
  opacity: 0.5;
}
.no-tabs-exist .nte-content button {
  background: var(--ActiveColor);
  color: black;
  border: none;
  padding: 8px 16px;
  border-radius: 50px;
  cursor: pointer;
}

/*# sourceMappingURL=index.css.map */
